

.section__reviews{
    background-image: url('./rewbg.png');
    // background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 100px 0px;

    @media screen and (max-width: 480px ) {
        background-position: right;
      }



    & .reviews{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__flex{
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            padding-top: 80px;
        }

        &__img{
            max-width: 460px;
            width: 100%;
            height:auto;
            margin-bottom: 30px !important;
            border-radius: 20px;
            box-shadow: 0px 0px 70px #00000070;

        }

        &__button{
            border-radius: 15px;
            background: var(--unnamed, linear-gradient(180deg, #FFA800 0%, #FFEA2D 100%));
            box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);
            padding: 20px 50px;
            color: var(--unnamed, #000);
            text-align: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: normal;
            text-transform: uppercase;
            border: none;
            outline: none;

            transition: all ease .3s;
            cursor: pointer;
            text-decoration: none;

            @media screen and (max-width: 480px ) {
               width: 100%;
                font-size: 16px;
                padding: 15px 0px;
             }

            &:hover{
                box-shadow: 0px 0px 70px #00000070;
            }
        }
    }
}