body {
  margin: 0;
  padding: 0;
  /* font-family: 'Ysabeau Office', sans-serif !important; */
  font-family: 'Open Sans', sans-serif !important;
  // background-color: #fff !important;
  &::-webkit-scrollbar-track {
    padding: 2px 5px;
    // border-radius: 10px;
    background: #242424;
  }
  
  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
    
  }
  
 &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:  rgb(255, 187, 61);
 } 

}

* {
  margin: 0 !important;
  padding: 0;
  box-sizing: border-box !important;
}


.swiper-button-next {
  background-color: #9b5959 !important;
  color: #000 !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
  border-radius: 86px;
  background: var(--unnamed, linear-gradient(180deg, #FFA800 0%, #FFEA2D 100%));
  right: 50px !important;
  top: 45% !important;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);

       @media screen and (max-width: 1700px ) {

          width: 40px !important;
          height: 40px !important;
          

          &::after{
            font-size: 20px !important;
          }
      }

      @media screen and (max-width: 1200px ){
        right: 10px !important;
     }

     @media screen and (max-width: 850px ){
      display: none !important;
     } 

}

.swiper-button-prev {
  background-color: #9b5959 !important;
  color: #000 !important;
  width: 80px !important;
  height: 80px !important;
  border-radius: 100%;
  border-radius: 86px;
  background: var(--unnamed, linear-gradient(180deg, #FFA800 0%, #FFEA2D 100%));
  left: 50px !important;
  top: 45% !important;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.15);


  @media screen and (max-width: 1700px ) {

    width: 40px !important;
    height: 40px !important;
    

    &::after{
      font-size: 20px !important;
    }
  }

  @media screen and (max-width: 1200px ){
     left: 10px !important;
  }

  @media screen and (max-width: 850px ){
    display: none !important;
   } 

}


.swiper-pagination {
  position: absolute !important;
  bottom: 60px !important;
  left: 80% !important;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 5px;
}

.swiper-pagination-current {
  color: var(--unnamed, #3D306E) !important;

  font-size: 52px !important;
  font-family: Proxima Nova;
  font-weight: 800;
  line-height: 140%;
  text-transform: uppercase;
}

.swiper-pagination-total {
  color: #424242 !important;
  font-size: 34px;
  font-family: Gilroy;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: -40px  !important;
}


.Home_section__mycard__LPqfQ{
  padding: 0 !important;
}