

.section__about{
    padding: 150px 0px;

    @media screen and (max-width: 770px ) {
       padding: 150px 0px 70px 0px;
     }
}

.about{
    display: flex;
    justify-content: center;
    gap: 36px;

    @media screen and (max-width: 1400px ) {
        flex-direction: column;
    }

    &__flex{
        display: flex;
        flex-direction: column;
        gap: 65px;
    }

    &__item{
        flex: 0 1 48%;
        max-width: 100%;
        width: 100%;


        &__img{
            width: 100%;
            box-shadow: 0 0 60px #00000070;
            border-radius: 35px;

            @media screen and (max-width: 1400px ) {
               max-width: 700px;

            }
         
        }

        &__text{
            color: #000;
            leading-trim: both;
            text-edge: cap;
            font-size: 18px;
            font-style: normal;
            font-weight: 800;
            line-height: 136%;
            margin-top: 80px  !important;
        }

        &__desc{
            color: #000;
            font-size: 18px;
            font-style: normal;
            font-weight: 300;
            line-height: 140%;
            margin-bottom: 25px !important;
        }

        &__header{
            display: flex;
            align-items: center;
            gap: 20px;

            @media screen and (max-width: 770px ) {
                flex-direction: column;
 
             }


            &__info{
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 20px;

                @media screen and (max-width: 770px ) {
                    width: 100%;
                 }


                &__title{
                    flex: 0 1 30%;
                    width: 100%;
                    color: var(--unnamed, #666);
                    font-size: 68px;
                    font-style: normal;
                    font-weight: 800;
                    line-height: normal;
                    padding: 12px;
                    background: #000;
                    
                    border-radius: 15px;
                    background: #D9D9D9;

                    display: flex;
                    justify-content: center;

                    @media screen and (max-width: 770px ) {
                        flex: 0 0 100%;
                        width: 100%;
                        font-size: 30px;
                     }
                }

                &__subtitle{
                    color: #000;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 800;
                }



            }

        }
    }
}